<% include partials/header %>    
    <h4 style="margin-bottom: 25px;">Carrinho de Compras</h4>
    <ul class="collection">
      <li class="collection-item">
      <div class="row">
        <div class="col s12 m6">
            <h6 style="margin: 0; padding: 0; font-size:2em;"> Nome do Produto </h6>
        </div> 
        <div class="col s12 m2">
            <a href="" class="right" style="padding:10px; font-size:2em;"><i class="material-icons">attach_money</i> 29.99 </a>
        </div>
        <div class="col s12 m2">
            <a href="" class="right" style="padding:10px; font-size:2em;">Qtd: 4</a>
        </div>
        <div class="col s12 m2">
            <a href="" class="right"><i class="material-icons" style="color: red; padding:10px; font-size:2em;">clear</i></a>
        </div>   
      </div>
      </li>
    </ul>
    <a href="/comprar" class="btn blue darken-4 z-depth-4 waves-effect waves-light" style="text-align : center; margin-top: 15px;"> <i class="material-icons icones">add</i>Fechar compra</a>
<% include partials/footer %>