<% include partials/header %>
    <div id="userProfile">
        <div class="container center">
            <h4>Informações do Usuário</h4>
            <div class="row">
                    <div class="col s12 m12 card">
                        <h5>Nome: <%= currentUser.nome_user %></h5>
                        <h5>Email: <%= currentUser.email_user %></h5>
                    </div>
            </div>
            <div class="divider"></div>
            <form action="/totalNotas" method="post">
                <input type="hidden" name="id" value="<%= currentUser.id_cliente %>">
                <button class="btn btn-large" style="margin-top: 70px;">clique aqui para ver todas as suas compras</button>
            </form>
            <%if(currentUser.email_user === 'admin@gmail.com'){ %>
                <div class="row" style="margin-top: 80px;">
                    <div class="col s12 m4">
                        <a class="btn btn-large green darken-4" style="" href="">Novo produto </a>
                    </div>
                    <div class="col s12 m4">
                        <a class="btn btn-large red darken-4"href="">Deletar produto</a>
                    </div>
                    <div class="col s12 m4">    
                        <a class="btn btn-large red darken-4"href="">Adicionar Qtd no Estoque</a>
                     </div>
                      
                        
                </div>
                
            <% }%>

        </div>   
    </div>
<% include partials/footer %>